@media (min-width:1200px){
    .hero{
        position: relative;
        
        }
        .nav{
            
          
         
        }
        .button1{
           display: flex;
           justify-content:space-between;
           
            
        }
        
        .btn1{
            padding: 10px 19px;
            border:1px solid lightgray;
            background-color:transparent;
            color:white;
            font-weight: 900;
            border-radius:5px;
        }
        .btn2{
            padding: 10px;
            border: none;
            background-color: red;
            color:white;
            font-weight: 900;
            border-radius:5px;
        }
        .logo ,img{
           width: 200px;
          
        }
        .hero-img{
            width:100%;
            height: 100vh;
           
        }
        .h1-head{
            font-size: 65px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .head-h1{
            font-size:30px;
            color:white;
            text-align: center;
        }
        .header{ 
            font-size:20px;
            color:white;
            position:absolute;
            top:50%;
             width:100%;
            left:50%;
             text-align: center;
            transform: translate(-50%,-50%);
            font-weight: bold;
        }  
       
        .header-input{
            position: absolute;
            top:79%;
            left:55%;
            transform: translate(-50%,-50%);
            width:750px;
            display: flex;
            align-items: center;
            gap:12px;
        }
        .header-input input{
            width:35%;
            padding:15px 50px;
            background: transparent;
            color:white;
            font-weight: bold;
            font-size:19px;
             border: 2px solid lightgrey;
            border-radius: 12px;
        }
        .header-input input:hover{
            outline: 2px solid white;
           
        }
        .header-input button{
            background-color: red;
            color: white;
            border:none;
            padding: 15px 21px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
            font-size:17px;
        }
        .get{
            display: flex;
            
        }
        .bi-chevron-right{
            background-color: red;
            padding: 19px 26px;
            color:white;
        }
        .lines{
            position:absolute;
            bottom:0;
            width: 100%;
            height:15px;
            background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
        }
        .line{
            box-sizing: border-box;
            position: absolute;
            width: 100%;
            height:100%;
            background:linear-gradient(to left,#ed63dc,#fc0a0a,#c000ff);
            bottom: 20px;
            border: solid .25rem transparent;
            border-top-left-radius: 50% 100%;
            border-top-right-radius: 50% 100%;
            background: radial-gradient(50% 500% at 50% -420%, rgba(244, 4, 252, 0.4) 80%, rgba(213, 1, 206, 0.638) 100% rgb(231, 12, 5));
        
        
        }
        .tint {
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
           
        }
        /* section{
            margin-top: 20px;
            background-color: black;
           
        } */
        .card{
            width:60%;
            position: relative;
            display: flex;
            justify-content:start;
            margin: 0 auto;
            gap:20px;
            padding-top: 20px;
             overflow-x:hidden ;
          
            
           
        }
        .card:hover{
            overflow-x: auto;
            scroll-behavior: smooth;
        }
        ::-webkit-scrollbar{
            overflow-x: auto;
        }
        
        
        
        
        .cardimg{
            position:relative;
           
        }
        .cardimg img{
            border-radius: 12px;
        }
        .btn{
            position: absolute;
            left:0;
            margin-left:-20px;
            font-weight: bolder;
            bottom:0;
            font-size:100px;
            background-color: transparent;
            border: none;
            color:black;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-shadow: 5px 5px 5px  white;
        }
        
        .card1{
            display: flex;
            width: 950px;
            height: 250px;
            color:white;
            margin: 0 auto;
            background-color: black;
           gap:16px;
           box-sizing: border-box;
          
        }
        .card-img{
          
            padding: 20px;
            position: relative;
            background-color: black;
            border-radius:12px ;
            background: rgb(80,59,77);
            background: linear-gradient(90deg, rgba(80,59,77,1) 0%, rgba(80,59,77,1) 35%, rgba(41,5,89,1) 92%);
            box-sizing: border-box;
        }
        .bi-pc-display-horizontal{
            margin-top: 30px;
            position: absolute;
            right:10px;
        }
        .card-img ,h3{
            color:white;
            font-size: 20px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
        }
        .card-img,p{
            color:lightgray;
            font-size: 18px;
        }
        .faq{
            width: 60%;
            margin:12px auto;
            
        }
        .faq-titles{
            display: flex;
            color:lightgrey;
           border:2px solid  rgb(32, 31, 31);
           background-color: rgb(32, 31, 31);
           padding: 19px 26px;
           justify-content: space-between;
        }
        .faq-titles:hover{
            background-color: rgb(54, 52, 52);
        }
        
        .input-section{
            position: relative;
            margin-top: 80px;
        }
        .hero1{
            position:relative;
            margin-top: 13px;
        }
        .header-i{
            position: absolute;
           top:50%;
           left:50%;
         transform: translate(-50%,-50%);
            margin-top:80px;
        }
        .About{
            margin-top: 250px;
            
        }
        .Faq{
        display: flex;
        color:white;
        justify-content: space-evenly;
        font-size: 18px;
        align-items: center;
        gap:3px;
        
        }
        .list{
            list-style: none;
            text-decoration: underline;
            
        }
        .list ul{
            margin-top: 10px;
            margin-bottom: 30px;
        }
}
/* Section 2   */
@media (min-width:990px) and (max-width:1200px){
    .hero{
        position: relative;
        
        }
        .nav{
            
          
         
        }
        .button1{
           display: flex;
           justify-content:space-between;
           
            
        }
        
        .btn1{
            padding:8px 15px;
            border:1px solid lightgray;
            background-color:transparent;
            color:white;
            font-weight: 900;
            border-radius:5px;
        }
        .btn2{
            padding: 8px;
            border: none;
            background-color: red;
            color:white;
            font-weight: 900;
            border-radius:5px;
        }
        .logo ,img{
           width:150px;
          
        }
        .hero-img{
            width:100%;
            height: 100vh;
           
        }
        .h1-head{
            font-size:60px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .head-h1{
            font-size:30px;
            color:white;
            text-align: center;
        }
        .header{ 
            font-size:20px;
            color:white;
            position:absolute;
            top:50%;
             width:100%;
            left:50%;
             text-align: center;
            transform: translate(-50%,-50%);
            font-weight: bold;
        }  
       
        .header-input{
            position: absolute;
            top:79%;
            left:61%;
            transform: translate(-50%,-50%);
            width:750px;
            display: flex;
            align-items: center;
            gap:12px;
        }
        .header-input input{
            width:35%;
            padding:15px 50px;
            background: transparent;
            color:white;
            font-weight: bold;
            font-size:19px;
             border: 2px solid lightgrey;
            border-radius: 12px;
        }
        .header-input input:hover{
            outline: 2px solid white;
           
        }
        .header-input button{
            background-color: red;
            color: white;
            border:none;
            padding: 15px 21px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
            font-size:17px;
        }
        .get{
            display: flex;
            
        }
        .bi-chevron-right{
            background-color: red;
            padding: 19px 26px;
            color:white;
        }
        .bi-translate{
            width:13px;
        
        }
       
        .lines{
            position:absolute;
            bottom:0;
            width: 100%;
            height:15px;
            background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
        }
        .line{
            box-sizing: border-box;
            position: absolute;
            width: 100%;
            height:100%;
            background:linear-gradient(to left,#ed63dc,#fc0a0a,#c000ff);
            bottom: 20px;
            border: solid .25rem transparent;
            border-top-left-radius: 50% 100%;
            border-top-right-radius: 50% 100%;
            background: radial-gradient(50% 500% at 50% -420%, rgba(244, 4, 252, 0.4) 80%, rgba(213, 1, 206, 0.638) 100% rgb(231, 12, 5));
        
        
        }
        .tint {
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
           
        }
        /* section{
            margin-top: 20px;
            background-color: black;
           
        } */
        .card{
            width:70%;
            position: relative;
            display: flex;
            justify-content:start;
            margin: 0 auto;
            gap:20px;
            padding-top: 20px;
             overflow-x:hidden ;
          
            
           
        }
        .card:hover{
            overflow-x: auto;
            scroll-behavior: smooth;
        }
        ::-webkit-scrollbar{
            overflow-x: auto;
        }
        
        
        
        
        .cardimg{
            position:relative;
           
        }
        .cardimg img{
            border-radius: 12px;
        }
        .btn{
            position: absolute;
            left:0;
            margin-left:-20px;
            font-weight: bolder;
            bottom:0;
            font-size:100px;
            background-color: transparent;
            border: none;
            color:black;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-shadow: 5px 5px 5px  white;
        }
        
        .card1{
            display: flex;
            width: 950px;
            height: 250px;
            color:white;
            margin: 0 auto;
            background-color: black;
           gap:16px;
           box-sizing: border-box;
          
        }
        .card-img{
          
            padding: 20px;
            position: relative;
            background-color: black;
            border-radius:12px ;
            background: rgb(80,59,77);
            background: linear-gradient(90deg, rgba(80,59,77,1) 0%, rgba(80,59,77,1) 35%, rgba(41,5,89,1) 92%);
            box-sizing: border-box;
        }
        .bi-pc-display-horizontal{
            margin-top: 30px;
            position: absolute;
            right:10px;
        }
        .card-img ,h3{
            color:white;
            font-size: 20px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
        }
        .card-img,p{
            color:lightgray;
            font-size: 18px;
        }
        .faq{
            width: 60%;
            margin:12px auto;
            
        }
        .faq-titles{
            display: flex;
            color:lightgrey;
           border:2px solid  rgb(32, 31, 31);
           background-color: rgb(32, 31, 31);
           padding: 19px 26px;
           justify-content: space-between;
        }
        .faq-titles:hover{
            background-color: rgb(54, 52, 52);
        }
        
        .input-section{
            position: relative;
            margin-top: 80px;
        }
        .hero1{
            position:relative;
            margin-top: 13px;
        }
        .header-i{
            position: absolute;
           top:50%;
           left:61%;
         transform: translate(-50%,-60%);
            margin-top:80px;
        }
        .About{
            margin-top: 250px;
            
        }
        .Faq{
        display: flex;
        color:white;
        justify-content: space-evenly;
        font-size: 18px;
        align-items: center;
        gap:3px;
        
        }
        .list{
            list-style: none;
            text-decoration: underline;
            
        }
        .list ul{
            margin-top: 10px;
            margin-bottom: 30px;
        }
}
@media(min-width:660px) and (max-width:990px){
   
    .hero{
        position: relative;
        overflow-x: hidden;
       
        }
        .nav{
            
          
         
        }
        .button1{
           display: flex;
           justify-content:space-between;
           
            
        }
        
        .btn1{
            padding:8px 15px;
            border:1px solid lightgray;
            background-color:transparent;
            color:white;
            font-weight: 900;
            border-radius:5px;
        }
        .btn2{
            padding: 8px;
            border: none;
            background-color: red;
            color:white;
            font-weight: 900;
            border-radius:5px;
        }
        .logo ,img{
           width:150px;
          
        }
        .hero-img{
            width:100%;
            height: 100vh;
          
        }
        .h1-head{
            font-size:55px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .head-h1{
            font-size:30px;
            color:white;
            text-align: center;
        }
        .header{ 
            font-size:20px;
            color:white;
            position:absolute;
            top:50%;
             width:100%;
            left:50%;
             text-align: center;
            transform: translate(-50%,-50%);
            font-weight: bold;
        }  
       
        .header-input{
            position: absolute;
            top:79%;
            left:61%;
            transform: translate(-50%,-50%);
            width:750px;
            display: flex;
            align-items: center;
            gap:12px;
        }
        .header-input input{
            width:35%;
            padding:15px 50px;
            background: transparent;
            color:white;
            font-weight: bold;
            font-size:19px;
             border: 2px solid lightgrey;
            border-radius: 12px;
        }
        .header-input input:hover{
            outline: 2px solid white;
           
        }
        .header-input button{
            background-color: red;
            color: white;
            border:none;
            padding: 15px 21px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
            font-size:17px;
        }
        .get{
            display: flex;
            
        }
        .bi-chevron-right{
            background-color: red;
            padding: 19px 26px;
            color:white;
        }
        .bi-translate{
            width:13px;
        
        }
        

       
        .lines{
            position:absolute;
            bottom:0;
            width: 100%;
            height:15px;
            background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
        }
        .line{
            box-sizing: border-box;
            position: absolute;
            width: 100%;
            height:100%;
            background:linear-gradient(to left,#ed63dc,#fc0a0a,#c000ff);
            bottom: 20px;
            border: solid .25rem transparent;
            border-top-left-radius: 50% 100%;
            border-top-right-radius: 50% 100%;
            background: radial-gradient(50% 500% at 50% -420%, rgba(244, 4, 252, 0.4) 80%, rgba(213, 1, 206, 0.638) 100% rgb(231, 12, 5));
        
        
        }
        .tint {
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
           
        }
        /* section{
            margin-top: 20px;
            background-color: black;
           
        } */
        .card{
            width:70%;
            position: relative;
            display: flex;
            justify-content:start;
            margin: 0 auto;
            gap:20px;
            padding-top: 20px;
             overflow-x:hidden ;
          
            
           
        }
        .card:hover{
            overflow-x: auto;
            scroll-behavior: smooth;
        }
        ::-webkit-scrollbar{
            overflow-x: auto;
        }
        
        
        
        
        .cardimg{
            position:relative;
           
        }
        .cardimg img{
            border-radius: 12px;
        }
        .btn{
            position: absolute;
            left:0;
            margin-left:-20px;
            font-weight: bolder;
            bottom:0;
            font-size:100px;
            background-color: transparent;
            border: none;
            color:black;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-shadow: 5px 5px 5px  white;
        }
        
        .card1{
            display: flex;
            flex-direction: column;
            width:500px;
            height:600px;
            color:white;
            margin: 0 auto;
            background-color: black;
           gap:16px;
           box-sizing: border-box;
          
        }
        .card-img{
           
           
            position: relative;
            background-color: black;
            border-radius:12px ;
            background: rgb(80,59,77);
            background: linear-gradient(90deg, rgba(80,59,77,1) 0%, rgba(80,59,77,1) 35%, rgba(41,5,89,1) 92%);
            box-sizing: border-box;
            flex-wrap: wrap;
        }
        .bi-pc-display-horizontal{
            margin-top:-25px;
            position: absolute;
            right:10px;
        }
        .card-img ,h3{
            color:white;
            font-size: 20px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
        }
        .card-img,p{
            color:lightgray;
            font-size: 18px;
        }
        .faq{
            width: 60%;
            margin:12px auto;
            
        }
        .faq-titles{
            display: flex;
            color:lightgrey;
           border:2px solid  rgb(32, 31, 31);
           background-color: rgb(32, 31, 31);
           padding: 19px 26px;
           justify-content: space-between;
        }
        .faq-titles:hover{
            background-color: rgb(54, 52, 52);
        }
        
        .input-section{
            position: relative;
            margin-top: 80px;
        }
        .hero1{
            position:relative;
            margin-top: 13px;
        }
        .header-i{
            position: absolute;
           top:50%;
           left:61%;
         transform: translate(-50%,-60%);
            margin-top:80px;
        }
        .About{
            margin-top: 250px;
            
        }
        .Faq{
        display: flex;
        color:white;
        justify-content: space-evenly;
        font-size: 18px;
        align-items: center;
        gap:3px;
        
        }
        .list{
            list-style: none;
            text-decoration: underline;
            
        }
        .list ul{
            margin-top: 10px;
            margin-bottom: 30px;
        }
}
@media (min-width:480px) and (max-width:660px){
    .hero{
        position: relative;
        overflow-x: hidden;
       
        }
        .nav{
            
          
         
        }
        .button1{
           display: flex;
           justify-content:space-between;
           
            
        }
        
        .btn1{
            padding:8px 15px;
            border:1px solid lightgray;
            background-color:transparent;
            color:white;
            font-weight: 900;
            border-radius:5px;
        }
        .btn2{
            padding: 8px;
            border: none;
            background-color: red;
            color:white;
            font-weight: 900;
            border-radius:5px;
        }
        .logo ,img{
           width:120px;
          
        }
        .hero-img{
            width:100%;
            height: 100vh;
          
        }
        .h1-head{
            font-size:50px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .head-h1{
            font-size:30px;
            color:white;
            text-align: center;
        }
        .header{ 
            font-size:20px;
            color:white;
            position:absolute;
            top:50%;
             width:100%;
            left:50%;
             text-align: center;
            transform: translate(-50%,-50%);
            font-weight: bold;
        }  
       
        .header-input{
            position: absolute;
            top:82%;
            left:80%;
            transform: translate(-50%,-50%);
            width:750px;
            display: flex;
            align-items: center;
            gap:12px;
        }
        .h1-head{
            font-size:40px;
        }
        .header-input input{
            width:30%;
            padding:10px 30px;
            background: transparent;
            color:white;
            font-weight: bold;
            font-size:19px;
             border: 2px solid lightgrey;
            border-radius: 12px;
        }
        .header-input input:hover{
            outline: 2px solid white;
           
        }
        .header-input button{
            background-color: red;
            color: white;
            border:none;
            padding: 15px 21px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
            font-size:17px;
        }
        .get{
            display: flex;
            
        }
        .bi-chevron-right{
            background-color: red;
            padding: 19px 26px;
            color:white;
        }
        .bi-translate{
            width:13px;
        
        }
       
        .lines{
            position:absolute;
            bottom:0;
            width: 100%;
            height:15px;
            background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
        }
        .line{
            box-sizing: border-box;
            position: absolute;
            width: 100%;
            height:100%;
            background:linear-gradient(to left,#ed63dc,#fc0a0a,#c000ff);
            bottom: 20px;
            border: solid .25rem transparent;
            border-top-left-radius: 50% 100%;
            border-top-right-radius: 50% 100%;
            background: radial-gradient(50% 500% at 50% -420%, rgba(244, 4, 252, 0.4) 80%, rgba(213, 1, 206, 0.638) 100% rgb(231, 12, 5));
        
        
        }
        .tint {
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
           
        }
        /* section{
            margin-top: 20px;
            background-color: black;
           
        } */
        .card{
            width:70%;
            position: relative;
            display: flex;
            justify-content:start;
            margin: 0 auto;
            gap:20px;
            padding-top: 20px;
             overflow-x:hidden ;
          
            
           
        }
        .card:hover{
            overflow-x: auto;
            scroll-behavior: smooth;
        }
        ::-webkit-scrollbar{
            overflow-x: auto;
        }
        
        
        
        
        .cardimg{
            position:relative;
           
        }
        .cardimg img{
            border-radius: 12px;
        }
        .btn{
            position: absolute;
            left:0;
            margin-left:-20px;
            font-weight: bolder;
            bottom:0;
            font-size:100px;
            background-color: transparent;
            border: none;
            color:black;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-shadow: 5px 5px 5px  white;
        }
        
        .card1{
            display: flex;
            flex-direction: column;
            width:450px;
            height:600px;
            color:white;
            margin: 0 auto;
            background-color: black;
           gap:16px;
           box-sizing: border-box;
          
        }
        .card-img{
           
           
            position: relative;
            background-color: black;
            border-radius:12px ;
            background: rgb(80,59,77);
            background: linear-gradient(90deg, rgba(80,59,77,1) 0%, rgba(80,59,77,1) 35%, rgba(41,5,89,1) 92%);
            box-sizing: border-box;
            flex-wrap: wrap;
        }
        .bi-pc-display-horizontal{
            margin-top:-25px;
            position: absolute;
            right:10px;
        }
        .card-img ,h3{
            color:white;
            font-size: 20px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
        }
        .card-img,p{
            color:lightgray;
            font-size: 18px;
        }
        .faq{
            width:90%;
            margin:12px auto;
            
        }
        .faq-titles{
            display: flex;
            color:lightgrey;
           border:2px solid  rgb(32, 31, 31);
           background-color: rgb(32, 31, 31);
           padding: 19px 26px;
           justify-content: space-between;
        }
        .faq-titles:hover{
            background-color: rgb(54, 52, 52);
        }
        
        .input-section{
            position: relative;
            margin-top: 80px;
        }
        .hero1{
            position:relative;
            margin-top: 13px;
        }
        .header-i{
            position: absolute;
           top:50%;
           left:61%;
         transform: translate(-50%,-60%);
            margin-top:80px;
        }
        .About{
            margin-top: 250px;
            
        }
        .Faq{
        display: flex;
        color:white;
        justify-content: space-evenly;
        font-size: 18px;
        align-items: center;
        gap:3px;
        
        }
        .list{
            list-style: none;
            text-decoration: underline;
            
        }
        .list ul{
            margin-top: 10px;
            margin-bottom: 30px;
        }
}